.main {
    width: 363px;
    height: 480px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 15px;
    display: flex;
    align-items: flex-end;
    
    .card {
        width: 323px;
        height: 82px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        border: thin solid #81ba00;
        .title {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .link {
            font-size: 18px;
            color: #81ba00;
        }
    }
}