/* @import "react-alice-carousel/lib/alice-carousel.css"; */

.active {
  background-color: #81ba00;
  border: 1px solid #81ba00;
}
.main {
  width: 100%;
  height: 100%;

  .card-buttons-container {
    display: flex;
    justify-content: center;
    gap: 10px;
  }


  .handlerButtonCarousel {
    border-radius: 50%;
    border: none;
    width: 10px;
    height: 10px;
    background-color: #4b942faf;
  }
  .handlerButtonCarousel:first-child {
    background-color: #f5f5dcaf;
  }
  .first-paragraph {
    width: 90%;
    margin: 0 auto;

    .first-paragraph__title {
      margin: 25px auto;
    }
    .first-paragraph__text {
      text-align: center;
      line-height: 26px;
      font-weight: lighter;
      color: #636363;
    }

  }

  .plan-carousel {
    width: 90%;
    margin: 0 auto;
    position: relative;

    .carousel-button-slide {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: none;
      background-color: #81ba00;
      position: absolute;

      .icon {
        width: 30px;
        height: 30px;
        color: #fff;
      }
    }
    .carousel-button-slide:first-child {
      top: 50%;

    }
    .carousel-button-slide:last-child {
      bottom: 45%;
      right: 0;
    }
  }
  .trending-products {
    display: flex;
    flex-direction: column;
    margin: 15px auto;
    align-items: center;

    .trending-products__title {
      display: flex;
      flex-direction: row;
      justify-content: center;      
    }

    .trending-products__list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      justify-content: center;     
    }

    .trending-products__filter {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 10px;
      .filter_button {
        border: none;
        border-radius: 14px;
        padding: 8px;
        background-color: #fff;
        border: 1px solid #81ba00;
        margin: 15px auto;
      }
    }
  }
  .references {
    height: 250px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;
    /* filter: blur(2px);  
    -webkit-filter: blur(2px); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .more-products-container {
    padding: 15px 0px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    .more-products__title {
      display: flex;
      flex-direction: row;
      justify-content: center; 
      text-align: center; 
    }

    .more-products__carousel {
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      width: 90%;
      overflow-x: scroll;
      gap: 15px;

      /* animation-name: slide;
      animation-duration: 20s;
      animation-iteration-count: infinite;
      animation-direction: normal; */
    }
  }
  .contact-us-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px auto;
    width: 330px;
    height: fit-content;
    border: 2px solid #81ba00;
    background-color: #ffffff;
    border-radius: 14px;
    padding: 10px 0px;

    .contact-us-card__text {
      text-align: center;
      margin: 5px auto;
    }
    .contact-us-card__button {
      background-color: #fff;
      border: none;
      height: 20px;
      width: fit-content;
      
    }
  }
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-360%);

  }
  50% {
    transform: translateX(-220%);
  }
  75% {
    transform: translateX(-90%);
  }
}